------------------------------------
1. Build Artifacts
------------------------------------

/build/
/target/
*.jar
*.war
*.log
*.class

------------------------------------
2. IDE Files
------------------------------------

IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

------------------------------------
3. Gradle/OS Cache
------------------------------------

.gradle/
.m2/
.DS_Store
Thumbs.db

------------------------------------
4. Security
------------------------------------

DB 비밀번호 및 로컬 설정 파일

/src/main/resources/application.properties